img {
  max-width: 50%;
  float: left;
  display: block;
  border:1px solid #ccc;
}

body {
  padding-top: 50px;
  overflow: hidden;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('../assets/images/bg.png');
  color: #4d4d4d;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*
    header & page structure
*/
#header {
  color: #4d4d4d;
  border-radius: inherit;
  padding-left: 20px;
  background: #5f5f5f;
}

#header-title {
  color: #fff;
  font-size: 30px;
}

#page {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}


/*
    sidebar with smooth scrolling on touch devices
    source https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
*/
#sidebar-wrapper {
  height: 100%;
  overflow-y: scroll;
  padding: 90px 0 0 0;
  background: #FFAAAA;
  max-width: 400px;
  -webkit-overflow-scrolling: touch;
  border: solid 5px #00ff00;
}

/*
    search-box - source: http://callmenick.com/post/various-css-input-text-styles
*/
#search-wrapper {
  margin: 0px 0 0 15px;
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  display: block;
}

input[type="text"] {
  width: 95%;
}

input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="checkbox"] + label span {
    display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    font-size: 14px;
    font-weight: normal;
}


/*

*/

#sidebar-title {
  position: relative;
  padding: 20px 30px 0px 10px;
  font-size: 20px;
  font-weight: normal;
}

#listview {
  position: relative;
  padding: 10px 10px 10px 10px;
}

#siderbar-padding-bottom {
  height: 50px;
}

.list-group-item.active {
  background: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
}

.listview-title {
  color: #444;
  font-weight: bold;
}

.list-group-item.active .listview-title {
  color: #FFF;
}

.listview-address {
  margin-bottom: 0;
  line-height: 1.3;
}

/*
    middle-right
*/
#body-wrapper {
  height: 100%;
  padding: 50px 0 0 0;
  background: #00FF00;
  border: solid 5px #ff5500;
}

/*
#middle-wrapper-bodyx {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 0 0 0 10px;
  background: #FFFF00;
}
*/

#page-header {
  font-size: 20px;
  padding: 20px 0 20px 30px;
  border-right: 1px solid gray;
  background: #00FFFF;
}

#description-box {
  background: #FFFF00;
  height: 600px;
  margin: 10px 10px 10px 10px;
  width: 30%;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
  font-size: 15px;
  line-height: 120%;
  max-width: 100%;
}

#map-canvas {
  background: #A04040;
  margin: 10px 10px 10px 10px;
  width: 60%;
  height: 600px;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
}

.list-group-item {
  border: 0;
}

#content {
  font-weight: normal;

}

/* arrows */
#arrows {
  width: 80px;
  vertical-align: bottom;
  margin: 25px;
}

.arrow-left,
.arrow-right
{
  margin: 0px 0px 0px 5px;
  background: #EEE;
  float: left;
  width: 20px;
  vertical-align: bottom;
}

.arrow {
  fill: #666;
}




/*
    large desktops and laptops
*/
@media (min-width: 1200px) {

}

/*
    landscape tablets and medium desktops
*/
@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar-wrapper {
    max-width: 300px;
  }

  #sidebar,#sidebar-title {
    padding: 0 20px 20px 20px;
  }
}

/*
    portrait tablets and small desktops
*/
@media (min-width: 768px) and (max-width: 991px) {
  #sidebar-wrapper {
    max-width: 250px;
  }

  #sidebar,#sidebar-title {
    padding: 0 15px 15px 15px;
  }
}

/*
    landscape phones and portrait tablets
*/
@media (max-width: 767px) {
  #sidebar-wrapper {
    max-width: 200px;
  }

  #sidebar,#sidebar-title {
    padding: 0 10px 10px 10px;
  }
}


/*
    portrait phones and smaller
*/
@media (max-width: 480px) {
  #sidebar-wrapper {
    max-width: 100px;
  }

  #sidebar,#sidebar-title {
    padding: 0 0 0 0;
  }

  #sidebar-title {
    visibility: hidden;
  }

  h4,p{
    font-size: 12px;
  }

  .listview-group {
    margin-bottom: 5px;
  }

  .listview-title {
    font-weight: normal;
  }

  .list-group-item {
    padding: 5px 5px;
  }
}
