body {
  padding-top: 50px;
  overflow: hidden;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('../assets/images/bg.png');
  color: #4d4d4d;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*--- header & page structure ---*/
#header {
  color: #4d4d4d;
  border-radius: inherit;
  padding-left: 50px;
  background: #5f5f5f;
}

#header-title {
  color: #fff;
}

#page-wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}


/*--- sidebar ---*/
#sidebar-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 90px 0 0px 0;
  background: #FFAAAA;
  max-width: 400px;
}

#sidebar,#sidebar-title {
/*  position: relative;*/
/*  height: 100%;*/
  padding: 0px 30px 30px 30px;
}

#siderbar-padding-bottom {
  height: 50px;
}

.list-group-item-title {
  color: #444;
  font-weight: bold;
}

.list-group-item.active {
  background: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
}


/*--- middle-right ---*/

#middle-wrapper {
  height: 100%;
  padding: 50px 0 0px 0;
  border-right: 1px solid gray;
  background: #00FF00;
}

#middle-wrapper-bodyx {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 0 0 0 10px;
  background: #FFFF00;
}

#page-header {
  font-size: 20px;
  height: 200%;
  padding: 60px 0px 60px 30px;
  border-right: 1px solid gray;
  background: #00FFFF;
}

#search-box,
.edit {
  position: relative;
  margin: 0 0 0 30px;
  width: 50%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 2;
  outline: solid;
  color: white;
  padding: 6px;
  border: 1px solid #240;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#search-box {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(40, 40, 0, 0.3);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}


::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

:-ms-input-placeholder {
   color: red;
}

#description-box {
  background: #FFFF00;
  height: 600px;
  margin: 10px 10px 10px 10px;
  width: 30%;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
  font-size: 15px;
  line-height: 120%;
}

#image-box {
  max-width: 300px;
  margin: 0 0 20px 0;
}

#map-canvas {
  background: #A04040;
  margin: 10px 10px 10px 10px;
  width: 60%;
  height: 600px;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
}

.list-group-item {
  border: 0;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar-wrapper {
    max-width: 300px;
  }

  #sidebar,#sidebar-title {
    padding: 0px 20px 20px 20px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #sidebar-wrapper {
    max-width: 250px;
  }

  #sidebar,#sidebar-title {
    padding: 0px 15px 15px 15px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #sidebar-wrapper {
    max-width: 200px;
  }

  #sidebar,#sidebar-title {
    padding: 0px 10px 10px 10px;
  }
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
  #sidebar-wrapper {
    max-width: 100px;
  }

  #sidebar,#sidebar-title {
    padding: 0px 0px 0px 0px;
  }

  #sidebar-title {
    visibility: hidden;
  }

  h4,p{
    font-size: 12px;
  }

  .list-group {
    margin-bottom: 5px;
  }

  .list-group-item-title {
    font-weight: normal;
  }

  .list-group-item {
    padding: 5px 5px;
  }
}
